{% block collection_entry_widget %}
    <div id="{{ form.vars.id }}" class="card-body" style="width: 19.6rem;">
        {# <label for="{{ form.vars.id }}__file" class="required">File</label> #}
        {% if form.parent.vars.name is same as('images') %}
            <input class="form-control" type="file" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[file]" accept="image/bmp,image/gif,image/jpeg,image/png" required="required"/>
        {% elseif form.parent.vars.name is same as('videos') %}
            <textarea class="form-control text-center" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[tagOrUrl]" placeholder="Copy the video url or embed code" required="required"></textarea>
        {% endif %}
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <div class="col-auto js-image d-none" style="width: 13rem; height: 8rem;">
                <img class="rounded" src="" style="width: 100%; height: 100%">
            </div>
            <div class="col-auto js-button"></div>
        </div>
    </div>
{% endblock %}

{% block collection_entry_label %}
{% endblock %}

{% block collection_label %}
{% endblock %}

{% block collection_widget %}
    {% for form in form.vars.form %}
        <div class="card">
            <div id="{{ form.vars.id }}" class="card-body" style="width: 19.6rem;">
                {% if form.parent.vars.name is same as('images') %}
                    {% for error in form.file.vars.errors %}
                        <div class="invalid-feedback mt-0 mb-1 p-1 js-error">{{ error.message }}</div>
                    {% endfor %}
                    <input class="form-control" type="file" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[file]" accept="image/bmp,image/gif,image/jpeg,image/png" required="required" value="{{ form.vars.data.file }}"/>
                {% elseif form.parent.vars.name is same as('videos') %}
                    {% for error in form.tagOrUrl.vars.errors %}
                        <div class="invalid-feedback mt-0 mb-1 p-1 js-error">{{ error.message }}</div>
                    {% endfor %}
                    <textarea class="form-control text-center" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[tagOrUrl]" placeholder="Copy the video url or embed code" required="required">{{ form.vars.data.tagOrUrl }}</textarea>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="row justify-content-center">
                    <div class="col-auto js-image d-none" style="width: 13rem; height: 8rem;">
                        <img class="rounded" src="" style="width: 100%; height: 100%">
                    </div>
                    <div class="col-auto js-button"></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}