{% block collection_entry_widget %}
    <div id="{{ form.vars.id }}" class="card-body" style="width: 19.6rem;">
        {% if form.parent.vars.name is same as('images') %}
            {% for error in form.file.vars.errors %}
                <div class="invalid-feedback mt-0 mb-1 p-1 js-error">{{ error.message }}</div>
            {% endfor %}
            <input class="form-control" type="file" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[file]" accept="image/bmp,image/gif,image/jpeg,image/png" required="required"/>
        {% elseif form.parent.vars.name is same as('videos') %}
            {% for error in form.tagOrUrl.vars.errors %}
                <div class="invalid-feedback mt-0 mb-1 p-1 js-error">{{ error.message }}</div>
            {% endfor %}
            <textarea class="form-control text-center" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[tagOrUrl]" placeholder="Copy the video url or embed code" rows="5" required="required"></textarea>
        {% endif %}
        {% if form.parent.vars.name is same as('images') %}
            <div class="col-auto js-image{% if form.vars.data is same as (null) %} d-none{% endif %}" style="width: 18rem; height: 11.9rem;">
                <img class="rounded" src="{{ form.vars.data|imageToDataUrl }}" style="width: 100%; height: 100%">
            </div>
        {% elseif form.parent.vars.name is same as('videos') %}
            <div class="mx-auto" style="width: 18rem;">
            </div>
        {% endif %}
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end js-button">
            {% if form.parent.vars.name is same as('images') %}
            <div class="px-2">
                <label for="{{ form.vars.id }}_file" style="cursor: pointer;">
                    <svg class="text-secondary js-icon-edit d-none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </label>
            </div>
            {% endif %}
            <div class="px-2">
                <span class="js-icon-delete" style="cursor: pointer;">
                    <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block collection_entry_label %}
{% endblock %}

{% block collection_label %}
{% endblock %}

{% block collection_widget %}
    {% for form in form.vars.form %}
        <div class="card mx-auto mb-3">
            <div id="{{ form.vars.id }}" class="card-body" style="width: 19.6rem;">
                {% if form.parent.vars.name is same as('images') %}
                    {% for error in form.file.vars.errors %}
                        <div class="invalid-feedback mt-0 mb-1 p-1 js-error">{{ error.message }}</div>
                    {% endfor %}
                    <input class="form-control d-none" type="file" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[file]" accept="image/bmp,image/gif,image/jpeg,image/png" {% if form.vars.data.file is not same as (null) %}required="required"{% endif %} value="{{ form.vars.data.file }}"/>
                {% elseif form.parent.vars.name is same as('videos') %}
                    {% for error in form.tagOrUrl.vars.errors %}
                        <div class="invalid-feedback mt-0 mb-1 p-1 js-error">{{ error.message }}</div>
                    {% endfor %}
                    <textarea class="form-control text-center{% if form.vars.data.tagOrUrl is same as (null) %} d-none{% endif %}" id="{{ form.vars.id }}_file" name="{{ form.vars.full_name }}[tagOrUrl]" placeholder="Copy the video url or embed code" {% if form.vars.data.tagOrUrl is not same as (null) %}required="required"{% endif %}>{{ form.vars.data.tagOrUrl }}</textarea>
                {% endif %}
                {% if form.parent.vars.name is same as('images') %}
                    <div class="col-auto js-image{% if form.vars.data is same as (null) %} d-none{% endif %}" style="width: 18rem; height: 11.9rem;">
                        <img class="rounded" src="{{ form.vars.data|imageToDataUrl }}" style="width: 100%; height: 100%">
                    </div>
                {% elseif form.parent.vars.name is same as('videos') %}
                    {% from 'video/embed_video.html.twig' import embed_video %}
                    <div class="mx-auto" style="width: 18rem;">
                        {{ embed_video(form.vars.data.source, form.vars.data.url) }}
                    </div>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end js-button">
                    {% if form.parent.vars.name is same as('images') %}
                        <div class="px-2">
                            <label for="{{ form.vars.id }}_file" style="cursor: pointer;">
                                <svg class="text-secondary" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </label>
                        </div>
                    {% endif %}
                    <div class="px-2">
                        <span class="js-icon-delete" style="cursor: pointer;">
                            <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}