{% if pagination.items is not same as([]) %}
    {% set page = pagination.page ?: null %}
    {% set pagesTotal = pagination.pagesTotal ?: null %}
    {% if queryString is defined %}
        {% set queryString = queryString ~ '&' %}
    {% endif %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item{% if page <= 1 %} disabled{% endif %}">
                <a class="page-link" href="?{{ queryWithParams(queryString, {page: 1}) }}">First</a>
            </li>
            {% if 2 < page %}
                <li class="page-item">
                    <a class="page-link" href="?{{ queryWithParams(queryString, {page: page - 2}) }}">
                        {{ page - 2 }}
                    </a>
                </li>
            {% endif %}
            {% if 1 < page %}
                <li class="page-item">
                    <a class="page-link" href="?{{ queryWithParams(queryString, {page: page - 1}) }}">
                        {{ page - 1 }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ page }}</a>
            </li>
            {% if page < pagesTotal %}
                <li class="page-item">
                    <a class="page-link" href="?{{ queryWithParams(queryString, {page: page + 1}) }}">
                        {{ page + 1 }}
                    </a>
                </li>
            {% endif %}
            {% if page < pagesTotal - 1 %}
                <li class="page-item">
                    <a class="page-link" href="?{{ queryWithParams(queryString, {page: page + 2}) }}">
                        {{ page + 2 }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item{% if page >= pagesTotal %} disabled{% endif %}">
                <a class="page-link" href="?{{ queryWithParams(queryString, {page: pagesTotal}) }}">Last</a>
            </li>
        </ul>
    </nav>
{% endif %}