{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <main class="container">
        <div class="row justify-content-center my-2">
            <div class="col-12 col-md-9">
                <div class="position-relative">
                    <img id="image-banner" style="max-height: 500px; width: 100%" src="{{ asset('images/default.png') }}">
                    <h1 id="title-banner" class="position-absolute top-50 start-50 translate-middle text-white text-center px-5 py-2 rounded h1">
                        {% if form.name.vars.data %}{{ form.name.vars.data }}{% else %}Trick Name{% endif %}
                    </h1>
                </div>
                {{ form_start(form, {'attr': {'class': 'row my-5 my-md-3'}}) }}
                    <div class="col-12 col-md-9 mx-auto text-center">
                        <div class="mb-3">
                            {% for error in form.name.vars.errors %}
                                <div class="invalid-feedback mt-0 mb-1">{{ error.message }}</div>
                            {% endfor %}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'name', 'style': 'text-align: center;', 'placeholder': 'Name'}}) }}
                        </div>
                        <div class="mb-3">
                            {% for error in form.description.vars.errors %}
                                <div class="invalid-feedback mt-0 mb-1">{{ error.message }}</div>
                            {% endfor %}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'id': 'description', 'style': 'text-align: center;', 'placeholder': 'Description'}}) }}    
                        </div>
                        <div>
                            {% for error in form.category.vars.errors %}
                                <div class="invalid-feedback mt-0 mb-1">{{ error.message }}</div>
                            {% endfor %}
                            {{ form_widget(form.category, {'attr': {'class': 'form-select', 'id': 'password', 'style': 'text-align: center;'}}) }}
                        </div>
                        <hr>
                        <div class="mb-3">
                            {% for error in form.illustration.file.vars.errors %}
                                <div class="invalid-feedback mt-0 mb-1">{{ error.message }}</div>
                            {% endfor %}
                            {{ form_widget(form.illustration.file, {'attr': {'class': 'form-control', 'id': 'illustration-file'}}) }}    
                        </div>
                        <hr>
                        <div class="mb-3">
                            {% form_theme form.images with ['form/_collection_widget.html.twig'] %}
                            {% for error in form.images.vars.errors %}
                                <div class="invalid-feedback mt-0 mb-1">{{ error.message }}</div>
                            {% endfor %}
                            {{ form_label(form.images.vars.prototype, null, {'attr': {'class': ''}}) }}    
                            <ul id="snowboard_trick_images" class="snowboard_trick_images list-group mt-3" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></ul>
                            <button type="button" class="btn btn-secondary add_item_link my-2" data-collection-holder-class="snowboard_trick_images">Add image</button>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary d-block mx-auto">Save</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/trick-form.js') }}" defer></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}