{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <main>
        <div class="position-relative">
            <img id="image-banner" class="img-fluid w-100" alt="..." src="{{ asset('images/banner-image.jpg') }}">
            <p class="position-absolute top-50 start-50 translate-middle text-white text-center bg-dark px-5 py-2 rounded h1">
                SHARE AND LEARN<br>
                NEW TRICKS!
            </p>
            <div id="scroll-down-to-tricks" class="position-absolute bottom-0 end-0">
                <a href="#tricks">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short text-white icon-navigation" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="py-3 d-flex justify-content-center">
            <a href="{{ path('app_snowboard_trick_create') }}">
                <button class="btn btn-success">Add a new trick</button>
            </a>
        </div>
        <div id="tricks" class="container-fluid pb-5">
            <div id="tricks-content" class="row justify-content-center position-relative">
                {% for trick in tricks %}
                    {{ include('snowboard-trick/_trick.html.twig') }}
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary js-spinner" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Load more
                </button>
            </div>
        </div>
    </main>
    <div id="scroll-up-to-tricks" class="sticky-bottom" style="display: none">
        <a href="#tricks" class="position-absolute bottom-0 end-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short text-dark icon-navigation" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        </a>
    </div>
    {% include 'modal/_modal.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/homepage.js') }}" defer></script>
    <script type="module" src="{{ asset('js/modal.js') }}" defer></script>
{% endblock %}