{% apply inky_to_html|inline_css(source('@styles/email.css')) %}
<container>
    <row>
        <columns small="12" large="12">
            <div class="banner">
                <h1 class="center">SnowTricks</h1>
            </div>

            <h2>Hello {{ email.toName }},</h2>

            <p>You requested to reset your password with the following username:</p>
            <p>
                <code class="quote">{{ email.toName }}</code>
                <br>({{ email.to[0].address }})
            </p>
            <p> 
                <a class="link" href="{{ url('app_password_reset', {'token': token.token}) }}">Click here</a> to reset your password
                (this link is valid until {{ token.expiredAt|date('F jS \\a\\t H:i') }}).
            </p>
            <p>If you haven't made any request, please ignore this email.</p>

            <p>Cordially,</p>
            <p>SnowTricks Company</p>
        </columns>
    </row>
</container>
{% endapply %}